# {{ ansible_managed }}
title: {{ homepage_title | to_json }}
theme: dark
color: slate
headerStyle: clean
hideVersion: true
layout:
  Watch: { style: row, columns: 3 }
  Library: { style: row, columns: 3 }
  Downloads: { style: row, columns: 3 }
