{#- One router per proxied thing: catalog services with a `web` block, plus
    external_services that have a path or subdomain. -#}
{%- set targets = [] -%}
{%- for item in stack_enabled_services if item.value.web is defined and item.key != 'traefik' -%}
{%-   set port = (item.value | container_port) if item.value.ports is defined else (item.value.web.port | default(80)) -%}
{%-   set _ = targets.append({'name': item.key, 'web': item.value.web, 'url': 'http://' ~ item.key ~ ':' ~ port}) -%}
{%- endfor -%}
{%- for item in external_services | dict2items if item.value.path is defined or item.value.subdomain is defined -%}
{%-   set _ = targets.append({'name': item.key, 'web': item.value, 'url': item.value.url,
                              'insecure': item.value.insecure | default(false)}) -%}
{%- endfor -%}
{%- set routers = {} -%}
{%- set services = {} -%}
{%- set middlewares = {} -%}
{%- set transports = {} -%}
{%- if proxy_basic_auth_users -%}
{%-   set _ = middlewares.update({'auth': {'basicAuth': {'users': proxy_basic_auth_users}}}) -%}
{%- endif -%}
{%- for t in targets -%}
{%-   set name = t.name -%}
{%-   set web = t.web -%}
{%-   set path = (web.path | default('/')).rstrip('/') -%}
{%-   if web.subdomain is defined -%}
{%-     set rule = 'Host(`' ~ web.subdomain ~ '.' ~ proxy_domain ~ '`)' -%}
{%-   elif path -%}
{%-     set rule = 'Host(`' ~ proxy_domain ~ '`) && PathPrefix(`' ~ path ~ '`)' -%}
{%-   else -%}
{%-     set rule = 'Host(`' ~ proxy_domain ~ '`)' -%}
{%-   endif -%}
{%-   set mws = ['auth'] if proxy_basic_auth_users else [] -%}
{%-   if web.strip_prefix | default(false) and path and web.subdomain is not defined -%}
{#-     /qbittorrent -> /qbittorrent/ so the app's relative links resolve -#}
{%-     set _ = middlewares.update({
          name ~ '-slash': {'redirectRegex': {'regex': '^(https?://[^/]+' ~ path ~ ')$', 'replacement': '${1}/', 'permanent': true}},
          name ~ '-strip': {'stripPrefix': {'prefixes': [path]}}}) -%}
{%-     set mws = mws + [name ~ '-slash', name ~ '-strip'] -%}
{%-   endif -%}
{%-   set router = {'rule': rule, 'service': name,
                    'entryPoints': ['websecure' if proxy_https | bool else 'web']} -%}
{%-   if mws -%}{%- set _ = router.update({'middlewares': mws}) -%}{%- endif -%}
{%-   if proxy_https | bool -%}
{%-     set tls = {'certResolver': 'letsencrypt'} -%}
{#-     DNS challenge: every router shares one wildcard certificate. -#}
{%-     if proxy_acme_challenge == 'dns' -%}
{%-       set _ = tls.update({'domains': [{'main': proxy_domain, 'sans': ['*.' ~ proxy_domain]}]}) -%}
{%-     endif -%}
{%-     set _ = router.update({'tls': tls}) -%}
{%-   endif -%}
{%-   set lb = {'servers': [{'url': t.url}], 'passHostHeader': true} -%}
{%-   if t.insecure | default(false) -%}
{%-     set _ = transports.update({'insecure': {'insecureSkipVerify': true}}) -%}
{%-     set _ = lb.update({'serversTransport': 'insecure'}) -%}
{%-   endif -%}
{%-   set _ = routers.update({name: router}) -%}
{%-   set _ = services.update({name: {'loadBalancer': lb}}) -%}
{%- endfor -%}
{%- set http = {'routers': routers, 'services': services} -%}
{%- if middlewares -%}{%- set _ = http.update({'middlewares': middlewares}) -%}{%- endif -%}
{%- if transports -%}{%- set _ = http.update({'serversTransports': transports}) -%}{%- endif -%}
# {{ ansible_managed }}
{{ {'http': http} | to_nice_yaml(indent=2, sort_keys=False) }}
