{#- Traefik static configuration. -#}
{%- set cfg = {
  'entryPoints': {'web': {'address': ':80'}},
  'providers': {'file': {'filename': '/etc/traefik/dynamic.yml', 'watch': true}},
  'log': {'level': 'INFO'},
  'api': {'dashboard': false},
} -%}
{%- if proxy_https | bool -%}
{%-   set _ = cfg.entryPoints.web.update({'http': {'redirections': {'entryPoint': {'to': 'websecure', 'scheme': 'https'}}}}) -%}
{%-   set _ = cfg.entryPoints.update({'websecure': {'address': ':443'}}) -%}
{%-   set acme = {'email': proxy_acme_email, 'storage': '/etc/traefik/acme.json'} -%}
{%-   if proxy_acme_challenge == 'dns' -%}
{%-     set _ = acme.update({'dnsChallenge': {'provider': proxy_acme_dns_provider}}) -%}
{%-   else -%}
{%-     set _ = acme.update({'httpChallenge': {'entryPoint': 'web'}}) -%}
{%-   endif -%}
{%-   set _ = cfg.update({'certificatesResolvers': {'letsencrypt': {'acme': acme}}}) -%}
{%- endif -%}
# {{ ansible_managed }}
{{ cfg | to_nice_yaml(indent=2, sort_keys=False) }}
